.container_musicPlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: center;

    transition: all .5s;
}

.container_itemsPlayer {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

.itemsTop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    flex-grow: 2;
    background-color: blue;
}

.contentInfoMusic {
    flex-grow: 2;
    background-color: black;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_nameTrack {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_timeTrack {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: auto;
}

#titleMusic {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
    min-width: 80%;
    text-align: center;
}

#timeMusic {
    margin-right: 10px;
    color: black;
    text-shadow: 0 0 10px black;
}

.ctn_back,
.ctn_next {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.ctn_back {
    justify-content: end;
}

.ctn_next {
    justify-content: start;
}

.ctn_playPause {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_back,
#btn_next,
#btn_playPause {
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
}