@import url("./musicPlayer.css");

/* Importing Fonts */
@font-face {
    font-family: RedHands;
    src: url(../fonts/RedHands.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

*::selection {
    background: transparent;
    color: white;
}

body {
    background: #202020;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main_container {
    width: 100%;
    height: 100%;
}

.main_container-wallpaper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/wallpaper_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* filter: blur(2px); */
}

.recycleBin {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100px;
    height: 100px;

    top: calc(100vh - 150px);
    left: calc(100vw - 150px);

    /* background: linear-gradient(to right bottom, rgb(113, 0, 243), rgb(255, 98, 124)); */

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    /* box-shadow: 5px 5px 5px black, 5px 5px 25px black; */

    transition: all .5s;

    cursor: pointer;
}

.recycleBin .img_trash {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    scale: 2;
}

/* 
.recycleBin:hover {
    transform: scale(1.1);
} */

.recycleBin-container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recycleText {
    flex-grow: 1;
    margin-top: 3px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.recycleBin-container-items div span {
    display: inline-block;
    position: relative;

    font-size: 25px;
    font-family: 'Arial Rounded MT';

    text-align: center;
    text-shadow: 0 0 2px white, 0 0 15px white;
    letter-spacing: 2px;

    animation: wavy 3s infinite;
    animation-delay: calc(.3s * var(--i));
}

.recycleBin-container-items ul {
    flex-grow: 2;
    position: relative;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.recycleBin-container-items ul li {
    display: flex;
    width: 100%;
    text-align: start;
    flex-grow: 1;
}

.recycleBin-container-items ul li b {
    flex-grow: 4;
    text-align: center;
}

/*rebote = "cubic-bezier(0.175, 0.885, 0.32, 1.275)" */
/* Card With Files */
.card_with_files {
    position: absolute;
    padding: 20px;
    top: calc(100vh - 150px);
    left: calc(100vw - 150px);
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity: 0;
    transition: all .5s cubic-bezier(0, 0.285, 0, 1.575);

    background: #b5bfe222;
    border: 1px solid #b5bfe2aa;
    /* box-shadow: 0 0 5px 2px #202020, 0 0 10px 5px #202020; */
    border-radius: 20px;
    overflow: auto;
}

.card_with_files.active {
    opacity: 1;
    transform: translateY(calc(-100vh + 30vh)) translateX(-400px);
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_List {
    width: 100%;
    height: 90%;

    position: relative;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
}

.container_List::-webkit-scrollbar {
    position: absolute;
    background-color: rgb(31, 31, 31);
    width: 10px;
    border-radius: 5px;
}

.container_List::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
    /* background: red;
    box-shadow: 0 0 2px red, 0 0 6px red; */
    border-radius: 5px;
    background: red;
}

/* 
.container_List::-webkit-scrollbar-track {
    background: red;
    box-shadow: 0 0 5px red, 0 0 15px red;
} */

.container_List::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0);
    box-shadow: 0 0 2px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
    border-radius: 10px;
    /* box-shadow: 0 5px 10px black; */
}

.content_Info_Files {
    position: relative;
    width: 90%;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.content_Files {
    position: relative;
    height: 130px;
    min-height: 130px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content_name_path {
    position: relative;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Esto mostrará "..." si el texto es demasiado largo */
    white-space: nowrap;
    /* Evitará que el texto se desborde a otra línea */
    flex-grow: 4;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.nameFile {
    position: relative;
    left: 0;
    font-family: "RedHands";
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Esto mostrará "..." si el texto es demasiado largo */
    white-space: nowrap;
}

.pathFile {
    position: relative;
    left: 0;
    font-family: "RedHands";
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Esto mostrará "..." si el texto es demasiado largo */
    white-space: nowrap;
}

.content_btn {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btnDelete,
.btnRestore {
    width: 35px;
    height: 35px;
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.container_btn_DeleteAll {
    position: relative;
    width: 100%;
    height: 30px;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDeleteAll {
    width: 50px;
    height: 50px;
    font-size: 35px;

    background: transparent;
    border: none;

    cursor: pointer;
}

#text_Empty {
    position: relative;
    top: 50%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#text_Empty p {
    font-family: "Arial Rouned MT";
    font-size: 40px;
}

.showPanel {
    position: absolute;
    left: calc(100vw - 50px);

    width: 50px;
    height: 50px;

    z-index: 100;
}

/* Animations */

@keyframes wavy {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-4px) scale(1.2);
    }
}