<div class="container_musicPlayer">
  <div class="container_itemsPlayer">
    <div class="itemsTop">
      <div class="ctn_back">
        <button id="btn_back">⬅️</button>
      </div>
      <div class="contentInfoMusic">
        <div class="container_nameTrack">
          <h1 id="titleMusic">AIMP Music Player</h1>
        </div>
        <div class="container_timeTrack">
          <h4 id="timeMusic">3:45</h4>
        </div>
      </div>
      <div class="ctn_next">
        <button id="btn_next">➡️</button>
      </div>
    </div>
    <div class="ctn_playPause">
      <button id="btn_playPause">⏯️</button>
    </div>
  </div>
</div>
