<div class="container_musicPlayer">
  <div class="container_itemsPlayer">
    <div class="itemsTop">
      <div class="ctn_back">
        <button id="btn_back">⬅️</button>
      </div>
      <div class="contentInfoMusic">
        <h1 id="titleMusic">AIMP Music Player</h1>
        <h4 id="timeMusic">3:45</h4>
      </div>
      <div class="ctn_next">
        <button id="btn_next">➡️</button>
      </div>
    </div>
    <div class="ctn_playPause">
      <button id="btn_playPause">⏯️</button>
    </div>
  </div>
</div>
